<!--Google map-->
<style>
.map-container{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.map-container iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}
</style>

<div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 500px">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2540.5043790425684!2d30.522562140090454!3d50.45033174345051!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4ce51bfc97489%3A0xc73249423914d8c4!2z0LLRg9C70LjRhtGPINCl0YDQtdGJ0LDRgtC40LosIDctOSwg0JrQuNGX0LIsIDAyMDAw!5e0!3m2!1suk!2sua!4v1678120324457!5m2!1suk!2sua"
      width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

  <!--Google Maps-->
